.App * {
  box-sizing: border-box;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  text-align: center;
}

.basket {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  margin: auto;
  padding: 5px;
  min-height: 500px;
  max-height: 500px;
  overflow-y: scroll;
  border-bottom-style: solid;
  border-right-style: solid;
  border-left-style: solid;
}

.grid {
  width: 100%;
}

.col-2 {
  display: block;
  float: left;
  margin: auto;
  padding: 5px;
  width: 50%;
}

.number {
  font-size: xx-small;
  display: block;
  float: left;
  text-align: right;
  width: 5%;
  padding: 2px;
  animation-duration: 6s;
  animation-name: slidein;
}
.number > div {
  border-style: solid;
  border-width: thin;
}
@keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}